<div class="workers container">
	<div class="bg-white p-3 p-sm-4 shadow mb-5">
		<div class="row gx-2 mb-3 align-items-center">
			<div class="col-auto">
				<h5 class="mb-0">
					<span>
						{{ "Workers " }}
					</span>

					<span class="badge bg-primary rounded-pill">
						{{ workers.length }}
					</span>
				</h5>
			</div>

			<div class="col"></div>

			<div class="col-auto">
				<button type="button" class="btn btn-sm btn-primary" v-on:click="add = true">
					<b>
						Add
					</b>
				</button>
			</div>
		</div>

		<div class="add-worker-holder mb-3" v-if="add">
			<AddEditWorker
				v-on:done="onAdd"
				v-on:cancel="add = false"
			></AddEditWorker>
		</div>

		<div class="row g-2 g-md-3 mb-3" v-if="workers.length">
			<div class="col-12 col-md-6 col-lg-4 col-xxl-3" v-for="worker of workers">
				<div class="worker p-3">
					<div class="row gx-2 align-items-center">
						<div class="col-auto">
							<b class="">
								{{ worker.name }}
							</b>
						</div>

						<div class="col"></div>

						<div class="col-auto">
							<button type="button" class="btn-sm btn-info btn"
							        v-on:click="edit = worker">
								<b>
									Edit
								</b>
							</button>
						</div>

						<div class="col-auto">
							<button type="button" class="btn btn-danger btn-sm"
							        v-on:click="deleteWorkerId = worker._id">
								<b>
									Delete
								</b>
							</button>
						</div>
					</div>

					<div class="edit-worker-holder" v-if="edit?._id === worker._id">
						<AddEditWorker
							class="mt-2"
							v-bind:key="edit._id"
							v-bind:id="edit._id"
							v-bind:name="edit.name"
							v-on:done="onEdit"
							v-on:cancel="edit = null"
						></AddEditWorker>
					</div>

					<div class="mt-2" v-if="deleteWorkerId === worker._id">
						<div class="shadow-sm bg-white p-3 border-danger border">
							<h6 class="mb-3">
								Are you sure?
							</h6>

							<div class="row g-2">
								<div class="col">
									<button type="button" class="btn btn-secondary w-100" v-on:click="deleteWorkerId = ''">
										Cancel
									</button>
								</div>

								<div class="col">
									<button type="button" class="btn btn-danger text-white w-100" v-on:click="deleteWorker">
										<b>
											Confirm
										</b>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
