.workers {
	.edit-btn {
		background-color: transparentize($primary, 0.85);
		color: transparentize($primary, 0.15);
	}

	.worker {
		background-color: transparentize($dark, 0.95);
	}

	//@media (min-width: 768px) {
	//	.add-worker-holder, .edit-worker-holder {
	//		position: relative;
	//
	//		.add-edit-worker {
	//			position: absolute;
	//			z-index: 1;
	//			right: 0;
	//		}
	//	}
	//
	//	.add-worker-holder {
	//		.add-edit-worker {
	//			z-index: 2;
	//		}
	//	}
	//}
}
