<div class="app">
	<div class="head bg-white shadow-lg">
		<div class="container py-4">
			<div class="px-4">
				<div class="row gx-2 align-items-center">
					<div class="col-auto">
						<h3 class="mb-0">
							<a href="/">
								Vuejs
							</a>
						</h3>
					</div>

					<div class="col"></div>

					<div class="col-auto" v-for="btn of nav_buttons">
						<button
							type="button"
							class="btn"
							v-bind:class="btn.id === view ? 'btn-primary' : 'btn-outline-primary'"
							v-on:click="view = btn.id"
						>
							<b>
								{{ btn.text }}
							</b>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container pt-4">
		<div v-if="view === 'workers'">
			<Workers></Workers>
		</div>

		<div v-if="view === 'calendar'">
			<Calendar></Calendar>
		</div>
	</div>
</div>
