<div class="add-edit-worker-hours">
	<div class="bg-white border border-primary rounded shadow p-3">
		<form v-on:submit.prevent="onSubmit">
			<div class="mb-3">
				<label for="worker" class="label">
					Select worker
				</label>

				<select name="worker" id="worker" class="form-select" v-model="form.worker">
					<option value="">
						Select worker
					</option>
					<option v-for="worker of workers" :value="worker._id">
						{{ worker.name }}
					</option>
				</select>

<!--				<div class="row g-2">-->
<!--					<div class="col-auto" v-for="worker of workers">-->
<!--						<button-->
<!--							type="button"-->
<!--							class="btn btn-sm"-->
<!--							v-on:click="workerId = worker._id"-->
<!--							v-bind:class="workerId === worker._id ? 'btn-primary' : 'btn-outline-primary'"-->
<!--						>-->
<!--							{{ worker.name }}-->
<!--						</button>-->
<!--					</div>-->
<!--				</div>-->
			</div>

			<div class="mb-3">
				<label for="date" class="label">
					Day
				</label>

				<select name="date" id="date" class="form-select" v-model="form.date">
					<option value="">
						Select day
					</option>
					<option v-for="date of dates" :value="date.valueOf()">
						{{ date.format("dddd (DD)") }}
					</option>
				</select>
			</div>

<!--			<div class="mb-3" v-if="hours">-->
<!--				<label class="label mb-2">-->
<!--					Worker-->
<!--				</label>-->

<!--				<div class="">-->
<!--					<button-->
<!--						type="button"-->
<!--						class="btn btn-sm btn-primary"-->
<!--					>-->
<!--						{{ getWorker(hours.worker)?.name }}-->
<!--					</button>-->
<!--				</div>-->
<!--			</div>-->

			<div class="row g-2 mb-3">
				<div class="col-6">
					<label for="start" class="label">
						Start hour
					</label>

					<select id="start" class="form-select" v-model="form.start">
						<option value="">
							Select hour
						</option>
						<option v-for="hour of 24" v-bind:value="hour - 1">
							{{ hour - 1 }}
						</option>
					</select>
				</div>

				<div class="col-6">
					<label for="end" class="label">
						End hour
					</label>

					<select id="end" class="form-select" v-model="form.end">
						<option value="">
							Select hour
						</option>
						<option v-for="hour of 24" v-bind:value="hour - 1">
							{{ hour - 1 }}
						</option>
					</select>
				</div>
			</div>

			<div class="row g-2">
<!--				<div class="col-auto" v-if="hours">-->
<!--					<button type="button" class="btn btn-danger text-white" v-on:click="deleteHours">-->
<!--						<b>-->
<!--							Delete-->
<!--						</b>-->
<!--					</button>-->
<!--				</div>-->

				<div class="col"></div>

				<div class="col-auto">
					<button type="button" class="btn btn-secondary" v-on:click="$emit('cancel')">
						Cancel
					</button>
				</div>

				<div class="col-auto">
					<button type="submit" class="btn btn-primary">
						<b>
<!--							{{ hours ? "Save" : "Add" }}-->
							Add
						</b>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
