<div class="add-edit-worker-hours">
	<div class="bg-white border border-primary shadow-sm p-3">
		<form v-on:submit.prevent="onSubmit">
			<h5 class="mb-3">
				{{ !!id ? "Edit worker" : "Add worker" }}
			</h5>

			<div class="text-muted mb-3">
				<b>
					{{ date.format("dddd, DD") }}
				</b>
			</div>

			<div class="mb-3">
				<label for="worker" class="label">
					Select worker
				</label>

				<select
					name="worker"
					id="worker"
					class="form-select"
					v-model="form.worker"
					:disabled="!!id"
				>
					<option value="">
						Select worker
					</option>
					<option v-for="worker of workers" :value="worker._id">
						{{ worker.name }}
					</option>
				</select>
			</div>

			<div class="row g-2 mb-3">
				<div class="col-6">
					<label for="start" class="label">
						Start hour
					</label>

					<select id="start" class="form-select" v-model="form.start">
						<option value="">
							Select hour
						</option>
						<option v-for="hour of 24" v-bind:value="hour - 1">
							{{ hour - 1 }}
						</option>
					</select>
				</div>

				<div class="col-6">
					<label for="end" class="label">
						End hour
					</label>

					<select id="end" class="form-select" v-model="form.end">
						<option value="">
							Select hour
						</option>
						<option v-for="hour of 24" v-bind:value="hour - 1">
							{{ hour - 1 }}
						</option>
					</select>
				</div>
			</div>

			<div class="row g-2">
				<div class="col-auto" v-if="!!id">
					<button type="button" class="btn btn-danger text-white" v-on:click="showDeleteConfirm = true">
						<b>
							Delete
						</b>
					</button>
				</div>

				<div class="col"></div>

				<div class="col-auto">
					<button type="button" class="btn btn-secondary" v-on:click="$emit('cancel')">
						Cancel
					</button>
				</div>

				<div class="col-auto">
					<button type="submit" class="btn btn-primary">
						<b>
							{{ !!id ? "Save" : "Add" }}
						</b>
					</button>
				</div>
			</div>
		</form>
	</div>

	<Modal v-if="showDeleteConfirm" v-on:close="showDeleteConfirm = false">
		<div class="shadow-sm bg-white p-3 border-danger border">
			<h6 class="mb-3">
				Are you sure?
			</h6>

			<div class="row g-2">
				<div class="col">
					<button type="button" class="btn btn-secondary w-100" v-on:click="showDeleteConfirm = false">
						Cancel
					</button>
				</div>

				<div class="col">
					<button type="button" class="btn btn-danger text-white w-100" v-on:click="deleteHours">
						<b>
							Confirm
						</b>
					</button>
				</div>
			</div>
		</div>
	</Modal>
</div>
