.calendar {
	.td-auto {
		white-space: nowrap;
		width: 1%;
	}

	.weekdays {

		//$columns: ();
		//@for $i from 0 through 6 {
		//	$columns: append($columns, [d-#{$i}] 1fr, space);
		//}
		//
		//grid-template-columns: $columns;

		//.day {
		//	@for $i from 0 through 6 {
		//		&.d-#{$i} {
		//			grid-column: d-#{$i};
		//		}
		//	}
		//}

		//.weekday {
		//	display: grid;
		//	grid-template-columns: auto auto 1fr;
		//	grid-template-rows: 1fr;
		//}

		.hours {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: 1fr;
		}
	}
}
