<div class="calendar container-fluid container-xl">
	<div class="bg-white shadow p-3 p-sm-4 mb-5">
		<div class="">
			<div class="row g-2 g-md-4 g-lg-5 align-items-center">
				<div class="col-12 col-md-4 order-md-2">
					<Picker
						:text="year"
						v-on:prev="updateDate(-1, 'year')"
						v-on:next="updateDate(1, 'year')"
					></Picker>
				</div>

				<div class="col-12 col-md-4 order-md-1">
					<Picker
						:text="month"
						v-on:prev="updateDate(-1, 'month')"
						v-on:next="updateDate(1, 'month')"
					></Picker>
				</div>

				<div class="col-12 col-md-4 order-md-0">
					<Picker
						:text="week"
						v-on:prev="updateDate(-7, 'days')"
						v-on:next="updateDate(7, 'days')"
					></Picker>
				</div>
			</div>
		</div>

		<div class="week">
			<div v-for="(day, i) of weekdays" class="weekday mt-5">
				<div class="row g-2 align-items-center mb-2">
					<div class="col">
						<h5 class="mb-0">
							<span class="me-2">
								{{ day.text }}
							</span>

							<span class="badge bg-primary rounded-pill">
								{{ day.hours.length }}
							</span>
						</h5>
					</div>

					<div class="col-auto">
						<button type="button" class="btn btn-primary plus-btn btn-sm" v-on:click="add = day"></button>
					</div>
				</div>

				<div class="hours" :style="day.style">
					<div
						v-for="(hour, h) of 24"
						class="hour"
						:style="{ gridColumn: `${hour}` }"
					>
						<b>
							{{ h }}
						</b>
					</div>

					<div
						v-for="workerHour of day.hours"
						class="worker-hours-holder"
						:style="workerHour.style"
					>
						<div class="worker-hours"></div>

						<div class="worker-info">
							<button type="button" class="btn" v-on:click="setEdit(day, workerHour)">
								<b class="worker me-1">
									{{ workerHour.worker.name }}
								</b>

								<span>
									{{ getFormattedHours(workerHour.start, workerHour.end) }}
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<Modal v-if="add" v-on:close="add = null">
			<AddEditWorkerHours
				:date="add.date"
				v-on:done="onAddHours"
				v-on:cancel="add = null"
			></AddEditWorkerHours>
		</Modal>

		<Modal v-if="edit" v-on:close="edit = null">
			<AddEditWorkerHours
				:date="edit.day.date"
				:key="edit.hour._id"
				:id="edit.hour._id"
				:worker="edit.hour.worker._id"
				:start="edit.hour.start"
				:end="edit.hour.end"
				v-on:done="onEditDeleteHours"
				v-on:deleted="onEditDeleteHours"
				v-on:cancel="edit = null"
			></AddEditWorkerHours>
		</Modal>
	</div>
</div>
