<div class="calendar">
	<div class="bg-white rounded shadow p-4">
		<h1 class="text-center mb-3">
			{{ date.format("YYYY") }}
		</h1>

		<div class="row gx-3 mb-3 align-items-center">
			<div class="col-auto">
				<button
					type="button"
					class="btn btn-primary-light btn-sm text-primary"
					v-on:click="updateMonth(-1)"
				>
					<
				</button>
			</div>

			<div class="col">
				<h3 class="text-center mb-0">
					{{ date.format("MMMM") }}
				</h3>
			</div>

			<div class="col-auto">
				<button
					type="button"
					class="btn btn-primary-light btn-sm text-primary"
					v-on:click="updateMonth(1)"
				>
					>
				</button>
			</div>
		</div>

<!--		<div class="days">-->
<!--			<div class="day" v-for="day of date.daysInMonth()">-->
<!--				{{ day }}-->
<!--			</div>-->
<!--		</div>-->

		<!--		<div class="months">-->
		<!--			<div class="month mb-4" v-for="month of months">-->
		<!--				<h3>-->
		<!--					{{ month.name }}-->
		<!--				</h3>-->

		<!--				<div class="weekdays">-->
		<!--					<div class="day" v-for="day of weekdays">-->
		<!--						{{ day.text }}-->
		<!--					</div>-->
		<!--				</div>-->

		<!--				<div class="days">-->
		<!--					<div class="day" v-for="day of month.days" v-bind:class="`d-${day.day_of_week}`">-->
		<!--						{{ day.text }}-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
	</div>
</div>
