.calendar {
	.td-auto {
		white-space: nowrap;
		width: 1%;
	}

	.weekdays {
		.hours {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: 1fr;

			.worker-hours {
				$size: 5px;
				border-radius: $size / 2;
				overflow: hidden;

				.worker-hour {
					height: $size;
					background-color: $primary-light;
				}
			}

			@media (min-width: 576px) {
				grid-template-columns: repeat(12, 1fr);
			}
			@media (min-width: 992px) {
				grid-template-columns: repeat(24, 1fr);
			}
		}
	}

	@media (min-width: 768px) {
		.add-edit-worker-hours {
			position: absolute;
			z-index: 1;
			width: 100%;
		}
	}
}
