/** Bootstrap colors overrides */
$primary: #006ed0;
$dark: #212424;
$secondary: #e6ecf1;
$danger: #d75a5a;
$success: #1ecd88;

/** Colors */
$black: #000000;
$primary-light: transparentize($primary, 0.8);
$transparent: transparentize(white, 1);

$custom-colors: (
	"primary": $primary,
	"dark": $dark,
	"secondary": $secondary,
	"danger": $danger,
	"success": $success,

	// Custom
	"black": $black,
	"primary-light": $primary-light,
);

$border-radius: 0.4rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.6rem;
$border-radius-pill: 40rem;

$enable-negative-margins: true;

$link-decoration: none;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$theme-colors: map-merge($theme-colors, $custom-colors);

/** Helpers */
@mixin prop($property, $value...) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@mixin linearGradient($options...) {
	background-image: -webkit-linear-gradient($options); /* For Safari 5.1 to 6.0 */
	background-image: -o-linear-gradient($options); /* For Opera 11.1 to 12.0 */
	background-image: -moz-linear-gradient($options); /* For Firefox 3.6 to 15 */
	background-image: linear-gradient($options); /* Standard syntax */
}

@mixin radialGradient($options...) {
	background-image: -webkit-radial-gradient($options); /* Safari */
	background-image: -o-radial-gradient($options); /* Opera 11.6 to 12.0 */
	background-image: -moz-radial-gradient($options); /* Firefox 3.6 to 15 */
	background-image: radial-gradient($options); /* Standard syntax */
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}
